
.installed.cfg
*.py[cod]
*$py.class
*.so
*.egg-info
*.egg-info/
*.egg
.eggs/
.Python
__pycache__/
build/
develop-eggs/
dist/
eggs/
share/python-wheels/
wheels/

serafin/__pycache__/
serafin/*.py[cod]
serafin/*$py.class